<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'scarecrow') {%> <link rel="stylesheet" href="/css/sc-theme-scarecrow.css" />
    <%} else if (conf.theme === 'duel') {%> <link rel="stylesheet" href="/css/sc-theme-duel.css" />
    <%} else if (conf.theme === 'infernal') {%> <link rel="stylesheet" href="/css/sc-theme-infernal.css" />
    <%} else if (conf.theme === 'warzone') {%> <link rel="stylesheet" href="/css/sc-theme-warzone.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <link rel="stylesheet" href="/css/datepicker.min.css" />
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton selected"><%=scMenu[i].text%></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section class="pageContainer">
      <div class="formContainer">
        <div>
          <div class="formHeadline">Events</div>
          <button id="btnAddEvent" type="button" class="action-button">Add event</button>
          <button id="btnEditConsumes" type="button" class="action-button">Edit req. consumables</button>
        </div>
        <% if (conf.rank > 7) {%>
        <div>
          <div class="formHeadline">Items</div>
          <button id="btnItemValues" type="button" class="action-button">Item values</button>
          <button id="btnAwardItem" type="button" class="action-button">Award item</button>
        </div>
        <%}%>
        <div>
          <div class="formHeadline">Users</div>
          <button id="btnLootValue" type="button" onclick="location.href=location.origin + '/admin/lootvalue';">LootValue</button>
          <button id="btnWishlists" type="button" onclick="location.href=location.origin + '/admin/wishlists';">Wishlists</button>
          <% if (conf.rank > 7) {%>
          <button id="btnFindUsers" type="button" class="action-button">Find user</button>
          <button id="btnAddAttendance" type="button" class="action-button">Add attendance</button>
          <%}%>
        </div>
      </div>
      <% if (conf.rank > 7) {%>
      <div id="frmFindUsers" class="formContainer">
        <div class="formContainer-fullColumn">
          <input id="txtUserSearch" type="text" name="user" placeholder="Type to search.." autocomplete="off" />
        </div>
        <div id="userList" class="userList">
        </div>
      </div>
      <%}%>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepicker.en.js"></script>
    <script>var whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false};</script>
    <script src="/js/wowhead.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/admin.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
