<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'ghostly') {%> <link rel="stylesheet" href="/css/sc-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%> <link rel="stylesheet" href="/css/sc-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%> <link rel="stylesheet" href="/css/sc-theme-toxic.css" />
    <%} else if (conf.theme === 'angelic') {%> <link rel="stylesheet" href="/css/sc-theme-angelic.css" />
    <%} else if (conf.theme === 'obsidian') {%> <link rel="stylesheet" href="/css/sc-theme-obsidian.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton selected"><%=scMenu[i].text%></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section class="pageContainer">
      <form name="frmSignIn" action="<%=scMenu['apply'].path%>" method="post" onsubmit="return formValidation();" autocomplete="off">
        <div class="applyContainer">
          <div class="applyContainer-halfColumn">
            <span>Character name</span>
            <div><input id="frmCharName" type="text" name="cName" class="apply-input" autocomplete="off"/></div>
            <div id="frmCharNameError" class="errorText"></div>
          </div>
          <div class="applyContainer-halfColumn">
            <span>Character level</span>
            <div><input id="frmLevel" type="text" name="cLevel" class="apply-input" /></div>
            <div id="frmLevelError" class="errorText"></div>
          </div>
          <div class="applyContainer-halfColumn">
            <span>Class</span>
            <div><select id="frmCharClass" name="cClass" class="apply-input"></select></div>
            <div id="frmCharClassError" class="errorText"></div>
          </div>
          <div class="applyContainer-halfColumn">
            <span>Role</span>
            <div><select id="frmCharRole" name="cRole" class="apply-input"></select></div>
            <div id="frmCharRoleError" class="errorText"></div>
          </div>
          <div class="applyContainer-halfColumn">
            <span>Link to your spec</span>
            <div><input id="frmSpecLink" type="text" name="specLink" class="apply-input" /></div>
            <div id="frmSpecLinkError" class="errorText"></div>
          </div>
          <div class="applyContainer-halfColumn">
            <span>Armory profile</span>
            <div><input id="frmArmoryLink" type="text" name="armoryLink" class="apply-input" /></div>
            <div id="frmArmoryLinkError" class="errorText"></div>
          </div>
          <div class="applyContainer-fullColumn">
            <span>How many of our raids will you be able to attend each week?</span>
            <div><input id="frmNumberOfRaids" type="text" name="numberRaids" class="apply-input" /></div>
            <div id="frmNumberOfRaidsError" class="errorText"></div>
          </div>
          <div class="applyContainer-fullColumn">
            <span>How do you prepare for each raid (progression and farm)?</span>
            <div><textarea id="frmPreparation" name="preparation" class="apply-input"></textarea></div>
            <div id="frmPreparationError" class="errorText"></div>
          </div>
          <div class="applyContainer-fullColumn">
            <span>Why are <u>you</u> a vaulable asset to our raiding team?</span>
            <div><textarea id="frmValuableAsset" name="asset" class="apply-input"></textarea></div>
            <div id="frmValuableAssetError" class="errorText"></div>
          </div>
          <div class="applyContainer-fullColumn">
            <span>Making a mistake, how do you respond to being called out on it?</span>
            <div><input id="frmMakingMistake" type="text" name="mistake" class="apply-input" /></div>
            <div id="frmMakingMistakeError" class="errorText"></div>
          </div>
          <div class="applyContainer-fullColumn">
            <span>Finally, is there anything else you'd like to add?</span>
            <div><textarea id="frmAnythingElse" name="anythingElse" class="apply-input"></textarea></div>
            <div id="frmAnythingElseError" class="errorText"></div>
          </div>
        </div>
        <div class="formButtonRow">
          <button id="btnSubmitApplication" type="submit" name="submit" value="application" class="action-button">Submit</button>
        </div>
      </form>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/apply.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
