<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/classes.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/themes.css" />
    <nav>
      <menu class="background-black">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button is-inline"><div class="menu-button-icon icon-logo"></div></div></a>
        <div class="show-mobile col-70 is-inline selected-page"><%=activePage%></div>
        <div class="menu-button is-inline show-mobile"><div class="menu-button-icon icon-menu"></div></div>
        <div class="menu-button-row show-desktop">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (i == activePage) {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text text-selected"><%=i%></div></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="container-page align-center is-scrollable">
        <div class="container-medium align-center border-rounded is-framed background-black"><%=application[0].character_name%> - Level <%=application[0].character_level%> <%=application[0].character_class%> (<%=application[0].character_role%>)</div>
        <div class="container-medium align-left border-rounded is-framed background-black">
          <div><b># Spec</b></div>
          <div><a href="<%=application[0].spec%>" target="_blank"><u><%=application[0].spec%></u></a><br><br></div>
          <div><b># Armory profile</b></div>
          <div><a href="<%=application[0].armory%>" target="_blank"><u><%=application[0].armory%></u></a><br><br></div>
          <div><b># Raids / week</b></div>
          <div style="white-space: pre-wrap;"><%=application[0].raids%></div><br><br>
          <div><b># Raid preparations</b></div>
          <div style="white-space: pre-wrap;"><%=application[0].preparation%></div><br><br>
          <div><b># Why the applicant is a valuable asset</b></div>
          <div style="white-space: pre-wrap;"><%=application[0].asset%></div><br><br>
          <div><b># Being called out when making mistakes</b></div>
          <div style="white-space: pre-wrap;"><%=application[0].mistakes%></div><br><br>
          <div><b># Anything else?</b></div>
          <div style="white-space: pre-wrap;"><%=application[0].anything_else%></div>
        </div>
        <div class="container-medium align-center border-rounded is-framed background-black">
          <form name="frmApplication" method="post">
            <button type="submit" name="back" value="back" class="button-icon-medium icon-back"></button>
            <% if (application[0].status === 'New' || application[0].status === 'Declined') {%>
              <button type="submit" name="accept" value="accept" class="button-icon-medium icon-accept"></button>
            <%}
            if (application[0].status === 'New' || application[0].status === 'Accepted') {%>
              <button type="submit" name="decline" value="decline" class="button-icon-medium icon-decline"></button>
            <%}%>
          </form>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
