<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti-main.css" />
    <link rel="stylesheet" href="/css/boti-icons.css" />
    <% if (conf.theme === 'ghostly') {%>
      <link rel="stylesheet" href="/css/boti-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%>
      <link rel="stylesheet" href="/css/boti-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%>
      <link rel="stylesheet" href="/css/boti-theme-toxic.css" />
    <%} else if (conf.theme === 'angelic') {%>
      <link rel="stylesheet" href="/css/boti-theme-angelic.css" />
    <%} else if (conf.theme === 'obsidian') {%>
      <link rel="stylesheet" href="/css/boti-theme-obsidian.css" />
    <%}%>
    <% if (conf.device === 'phone') {%>
      <link rel="stylesheet" href="/css/boti-mobile.css" />
    <%} else if (conf.device === 'desktop') {%>
      <link rel="stylesheet" href="/css/boti-desktop.css" />
    <%}%>
    <link rel="stylesheet" href="/css/boti-extras.css" />
    <nav class="pos-absolute">
      <menu class="menu-themed">
        <a href="<%=scMenu['home'].path%>"><div class="menu-button is-inline"><div class="menu-button-icon icon-logo"></div></div></a>
        <div class="show-mobile col-50 is-inline selected-page"><%=conf.page%></div>
        <div class="menu-button is-inline show-mobile"><div class="menu-button-icon icon-menu"></div></div>
        <div class="menu-button-row show-desktop">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button button-selected-themed"><div class="menu-button-text"><%=scMenu[i].text%></div></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=scMenu[i].text%></div></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="container-page align-center is-scrollable">
        <form name="frmSignIn" action="<%=scMenu['Apply'].path%>" method="post" onsubmit="return scarecrow.validate.application();">
          <div class="container-medium frame-themed background-themed">
            <div class="col-50 is-inline">
              <div class="align-left">Character name</div>
              <div><input id="frmCharName" type="text" name="cName" class="input-themed col-80" /></div>
              <div id="frmCharNameError" class="text-error align-left"></div>
            </div>
            <div class="col-50 is-inline">
              <div class="align-left">Character level</div>
              <div><input id="frmLevel" type="text" name="cLevel" class="input-themed col-80" /></div>
              <div id="frmLevelError" class="text-error align-left"></div>
            </div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="col-50 is-inline">
              <div class="align-left">Class</div>
              <div><select id="frmCharClass" name="cClass" class="select-themed col-90"></select></div>
              <div id="frmCharClassError" class="text-error align-left"></div>
            </div>
            <div class="col-50 is-inline">
              <div class="align-left">Role</div>
              <div><select id="frmCharRole" name="cRole" class="select-themed col-90"></select></div>
              <div id="frmCharRoleError" class="text-error align-left"></div>
            </div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="col-50 is-inline">
              <div class="align-left">Link to your spec</div>
              <div><input id="frmSpecLink" type="text" name="specLink" class="input-themed col-80" /></div>
              <div id="frmSpecLinkError" class="text-error align-left"></div>
            </div>
            <div class="col-50 is-inline">
              <div class="align-left">Armory profile</div>
              <div><input id="frmArmoryLink" type="text" name="armoryLink" class="input-themed col-80" /></div>
              <div id="frmArmoryLinkError" class="text-error align-left"></div>
            </div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="align-left">How many of our raids will you be able to attend each week?</div>
            <div><input id="frmNumberOfRaids" type="text" name="numberRaids" class="input-themed col-90" /></div>
            <div id="frmNumberOfRaidsError" class="text-error align-left"></div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="align-left">How do you prepare for each raid (progression and farm)?</div>
            <div><textarea id="frmPreparation" name="preparation" class="textarea-themed col-90"></textarea></div>
            <div id="frmPreparationError" class="text-error align-left"></div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="align-left">Why are <u>you</u> a vaulable asset to our raiding team?</div>
            <div><textarea id="frmValuableAsset" name="asset" class="textarea-themed col-90"></textarea></div>
            <div id="frmValuableAssetError" class="text-error align-left"></div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="align-left">Making a mistake, how do you respond to being called out on it?</div>
            <div><input id="frmMakingMistake" type="text" name="mistake" class="input-themed col-90" /></div>
            <div id="frmMakingMistakeError" class="text-error align-left"></div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <div class="align-left">Finally, is there anything else you'd like to add?</div>
            <div><textarea id="frmAnythingElse" name="anythingElse" class="textarea-themed col-90"></textarea></div>
            <div id="frmAnythingElseError" class="text-error align-left"></div>
          </div>
          <div class="container-medium frame-themed background-themed">
            <button id="btnSubmitApplication" type="submit" name="submit" value="application" class="button-icon-medium icon-accept submit-button"></button>
          </div>
        </form>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
    <script>
      $(document).ready(function() {
        scarecrow.get.character.classes();
      });
    </script>
  </foot>
</html>
