<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'ghostly') {%> <link rel="stylesheet" href="/css/sc-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%> <link rel="stylesheet" href="/css/sc-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%> <link rel="stylesheet" href="/css/sc-theme-toxic.css" />
    <%} else if (conf.theme === 'angelic') {%> <link rel="stylesheet" href="/css/sc-theme-angelic.css" />
    <%} else if (conf.theme === 'obsidian') {%> <link rel="stylesheet" href="/css/sc-theme-obsidian.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton selected"><%=scMenu[i].text%></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  <body>
    <section class="pageContainer">
      <div class="eventContainer">
        <div class="eventContainer-title"><%=event.instance%></div>
        <div class="eventContainer-subtitle"><%=event.day%> <%=event.date%>/<%=event.month%></div>
        <br><a id="lnkConsumables" style="cursor: pointer;"><u>Required consumables</u></a>
      </div>
      <div class="eventContainer">
        <div class="eventContainer-roleContainer">
          <div class="eventContainer-roleContainer-title container-small-title-corner">Tanks (<%=event.tank.length%>/<%=event.max.tanks%>)</div>
          <% for (var att in event.tank) {
            if (event.tank[att].status === 'accept') {%>
            <div class="eventContainer-attendant"><span><%=event.tank[att].idx%>. </span><span class="clr<%=event.tank[att].class%>"><%=event.tank[att].name%></span></div>
          <%}}%>
        </div>
        <div class="eventContainer-roleContainer">
          <div class="eventContainer-roleContainer-title">Healers (<%=event.support.length%>/<%=event.max.support%>)</div>
          <% for (var att in event.support) {
            if (event.support[att].status === 'accept') {%>
            <div class="eventContainer-attendant"><span><%=event.support[att].idx%>. </span><span class="clr<%=event.support[att].class%>"><%=event.support[att].name%></span></div>
          <%}}%>
        </div>
        <div class="eventContainer-roleContainer">
          <div class="eventContainer-roleContainer-title">Damage (<%=event.damage.length%>/<%=event.max.damage%>)</div>
          <% for (var att in event.damage) {
            if (event.damage[att].status === 'accept') {%>
            <div class="eventContainer-attendant"><span><%=event.damage[att].idx%>. </span><span class="clr<%=event.damage[att].class%>"><%=event.damage[att].name%></span></div>
          <%}}%>
        </div>
      </div>
      <div class="eventContainer">
        <% for (var att in event.uninvolved) {%>
        <div class="eventContainer-comment">
          <div class="eventContainer-comment-player"><span class="clr<%=event.uninvolved[att].class%>"><%=event.uninvolved[att].name%></span> <span class="eventContainer-comment-status">(<%=event.uninvolved[att].status%>)</span></div>
          <div class="eventContainer-comment-text"><%=event.uninvolved[att].comment%></div>
        </div>
        <%}%>
      </div>
      <% if (conf.main) {%>
      <div class="eventContainer">
        <form name="frmEvent" method="post" onsubmit="return formValidation();">
          <button id="btnBack" type="submit" name="back" value="back" class="action-button">< Back</button>
          <% if (event.signed !== 'accept') {%> <button id="btnAccept" type="submit" name="sign" value="accept" class="action-button">Accept</button> <%}%>
          <% if (event.signed !== 'maybe') {%> <button id="btnMaybe" type="submit" name="sign" value="maybe" class="action-button">Maybe</button> <%}%>
          <% if (event.signed !== 'decline') {%> <button id="btnDecline" type="submit" name="sign" value="decline" class="action-button">Decline</button> <%}%>
        </form>
      </div>
      <%}%>
    </section>
    <div id="popupContainer" class="hidden">
      <div class="formContainer-fullColumn" style="white-space: pre-wrap;"><%=event.consumables%></div>
      <div class="formContainer-buttonRow">
        <button id="btnCloseConsumables" type="button" name="back" value="back" class="action-button">Close</button>
      </div>
    </div>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/event.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
