<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti-main.css" />
    <link rel="stylesheet" href="/css/boti-icons.css" />
    <link rel="stylesheet" href="/css/boti-classes.css" />
    <% if (conf.theme === 'ghostly') {%>
      <link rel="stylesheet" href="/css/boti-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%>
      <link rel="stylesheet" href="/css/boti-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%>
      <link rel="stylesheet" href="/css/boti-theme-toxic.css" />
    <%}%>
    <% if (conf.device === 'phone') {%>
      <link rel="stylesheet" href="/css/boti-mobile.css" />
    <%} else if (conf.device === 'desktop') {%>
      <link rel="stylesheet" href="/css/boti-desktop.css" />
    <%}%>
    <link rel="stylesheet" href="/css/boti-extras.css" />
    <nav class="pos-absolute">
      <menu class="menu-themed">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button is-inline"><div class="menu-button-icon icon-logo"></div></div></a>
        <div class="show-mobile col-50 is-inline selected-page"><%=conf.page%></div>
        <div class="menu-button is-inline show-mobile"><div class="menu-button-icon icon-menu"></div></div>
        <div class="menu-button-row show-desktop">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (i == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button button-selected-themed"><div class="menu-button-text"><%=i%></div></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  <body>
    <section>
      <div class="container-page align-center is-scrollable">
        <div class="container-medium frame-themed background-themed">
          <div class="title is-inline col-50"><%=event.instance%></div>
          <div class="subtitle is-inline col-30"><%=event.day%> <%=event.date%>/<%=event.month%></div>
        </div>
        <div class="container-medium frame-themed background-themed">
          <div class="container-small align-left frame-themed">
            <div class="container-small-title-corner">Tanks (<%=event.tank.length%>/<%=event.max.tanks%>)</div>
            <% for (var att in event.tank) {%>
              <div class="col-30 is-inline"><span><%=event.tank[att].idx%>. </span><span class="clr<%=event.tank[att].class%>"><%=event.tank[att].name%></span></div>
            <%}%>
          </div>
          <div class="container-small align-left frame-themed">
            <div class="container-small-title-corner">Healers (<%=event.support.length%>/<%=event.max.support%>)</div>
            <% for (var att in event.support) {%>
              <div class="col-30 is-inline"><span><%=event.support[att].idx%>. </span><span class="clr<%=event.support[att].class%>"><%=event.support[att].name%></span></div>
            <%}%>
          </div>
          <div class="container-small align-left frame-themed">
            <div class="container-small-title-corner">Damage (<%=event.damage.length%>/<%=event.max.damage%>)</div>
            <% for (var att in event.damage) {%>
              <div class="col-30 is-inline"><span><%=event.damage[att].idx%>. </span><span class="clr<%=event.damage[att].class%>"><%=event.damage[att].name%></span></div>
            <%}%>
          </div>
        </div>
        <% if (conf.main) {%>
        <div class="container-medium frame-themed background-themed">
          <form name="frmEvent" method="post">
            <button type="submit" name="back" value="back" class="button-icon-medium icon-back submit-button"></button>
            <% if (!conf.signed) {%>
            <button type="submit" name="accept" value="accept" class="button-icon-medium icon-accept submit-button"></button>
            <%}%>
          </form>
        </div>
        <%}%>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
