<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/classes.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <nav>
      <menu class="background-black">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button"><div class="menu-button-icon icon-home"></div></div></a>
        <% for (var i in scMenu) {
          if (scMenu[i].menu === 1) {
            if (i == activePage) {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text"><%=i%></div></div></a>
          <%} else {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
        <%}}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section class="margin-top">
      <div class="container row-80 is-scrollable">
        <div class="container">
          <% for (var i in users) {
            if (users[i].rank === 'Guild Master') {%>
              <div class="sub-container is-framed border-rounded background-black">
                <div class="col-30 is-inline">Guild Master</div>
                <div class="col-30 is-inline"><%=users[i].user%></div>
                <div class="col-40 is-inline"></div>
              </div>
            <%}
          }%>
        </div>
        <div class="container">
          <% for (var i in users) {
            if (users[i].rank === 'Officer') {%>
              <div class="sub-container is-framed border-rounded background-black">
                <div class="col-30 is-inline">Officer</div>
                <div class="col-40 is-inline"><%=users[i].user%></div>
                <div class="col-30 is-inline"><%=users[i].role%></div>
              </div>
            <%}
          }%>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
