<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'scarecrow') {%> <link rel="stylesheet" href="/css/sc-theme-scarecrow.css" />
    <%} else if (conf.theme === 'duel') {%> <link rel="stylesheet" href="/css/sc-theme-duel.css" />
    <%} else if (conf.theme === 'infernal') {%> <link rel="stylesheet" href="/css/sc-theme-infernal.css" />
    <%} else if (conf.theme === 'warzone') {%> <link rel="stylesheet" href="/css/sc-theme-warzone.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section class="pageContainer">
      <div class="timerContainer">
        <div id="txtDays" class="timerValue"></div>
        <div class="timerUnit">Days</div>
      </div>
      <div class="timerContainer">
        <div id="txtHours" class="timerValue"></div>
        <div class="timerUnit">Hours</div>
      </div>
      <div class="timerContainer">
        <div id="txtMin" class="timerValue"></div>
        <div class="timerUnit">Minutes</div>
      </div>
      <div class="timerContainer">
        <div id="txtSec" class="timerValue"></div>
        <div class="timerUnit">Seconds</div>
      </div>
      <script>
      const cdDate = new Date("Aug 27, 2019 12:00:00").getTime();

      updateTimer();
    
      const x = setInterval(function() {
        updateTimer();
      }, 1000);

      function updateTimer() {
        var now = new Date().getTime();
        var distance = cdDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("txtDays").innerHTML = days;
        document.getElementById("txtHours").innerHTML = hours;
        document.getElementById("txtMin").innerHTML = minutes;
        document.getElementById("txtSec").innerHTML = seconds;

        if (distance < 0) {
          clearInterval(x);
          document.getElementByClass("pageContainer").innerHTML = "EXPIRED";
        }
      }
      </script>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/home.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
