<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti-main.css" />
    <link rel="stylesheet" href="/css/boti-icons.css" />
    <% if (conf.theme === 'ghostly') {%>
      <link rel="stylesheet" href="/css/boti-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%>
      <link rel="stylesheet" href="/css/boti-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%>
      <link rel="stylesheet" href="/css/boti-theme-toxic.css" />
    <%}%>
    <% if (conf.device === 'phone') {%>
      <link rel="stylesheet" href="/css/boti-mobile.css" />
    <%} else if (conf.device === 'desktop') {%>
      <link rel="stylesheet" href="/css/boti-desktop.css" />
    <%}%>
    <link rel="stylesheet" href="/css/boti-extras.css" />
    <nav class="pos-absolute">
      <menu class="menu-themed">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button is-inline"><div class="menu-button-icon icon-logo"></div></div></a>
        <div class="show-mobile col-50 is-inline selected-page"><%=conf.page%></div>
        <div class="menu-button is-inline show-mobile"><div class="menu-button-icon icon-menu"></div></div>
        <div class="menu-button-row show-desktop">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
          <%}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
