<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'scarecrow') {%> <link rel="stylesheet" href="/css/sc-theme-scarecrow.css" />
    <%} else if (conf.theme === 'duel') {%> <link rel="stylesheet" href="/css/sc-theme-duel.css" />
    <%} else if (conf.theme === 'infernal') {%> <link rel="stylesheet" href="/css/sc-theme-infernal.css" />
    <%} else if (conf.theme === 'warzone') {%> <link rel="stylesheet" href="/css/sc-theme-warzone.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton selected"><%=scMenu[i].text%></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section class="pageContainer">
      <div class="formContainer">
        <div class="formContainer-halfColumn"><div class="formContainer-header">User:</div><div id="txtUsername" class="formContainer-value"><%=user['details'].name%></div></div>
        <% if (user['details'].email !== null && user['details'].email !== '' && user['details'].email !== undefined) {%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">E-mail:</div><div id="txtEmail" class="formContainer-value"><%=user['details'].email%></div></div>
        <%}%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">Rank:</div><div class="formContainer-value"><%=user['details'].rankName%></div></div>
        <% if (user['details'].role !== null && user['details'].role !== '' && user['details'].role !== undefined) {%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">Role:</div><div class="formContainer-value"><%=user['details'].role%></div></div>
        <%}%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">Theme:</div><div id="txtTheme" class="formContainer-value"><%=user['details'].theme.charAt(0).toUpperCase()+user['details'].theme.slice(1)%></div></div>
      </div>
      <div class="formButtonRow">
        <button id="btnEditUser" type="submit" name="edit" value="userInfo" class="action-button formController">Edit</button>
        <% if (user['details'].rank > 1) {%>
        <button id="btnShowCharacter" type="button" name="expand" value="characters" class="rolloutController">Characters</button>
        <button id="btnShowWishlist" type="button" name="expand" value="wishlist" class="rolloutController">Wishlist</button>
        <%}%>
      </div>
      <% if (user['details'].rank > 1) {%>
      <div id="characterContainer" class="formContainer rolloutContainer">
      <%for (var i in user['characters']) {%>
        <div class="charContainer">
          <div class="charContainer-details">
            <input type="hidden" class="charContainer-id" value="<%=user['characters'][i].id%>"/>
            <input type="hidden" class="charContainer-role" value="<%=user['characters'][i].role%>"/>
            <input type="hidden" class="charContainer-server" value="<%=user['characters'][i].server%>"/>
            <div class="charContainer-nickname clr<%=user['characters'][i].class%>"><%=user['characters'][i].name%></div>
            <div class="charContainer-spec"><%=user['characters'][i].spec%></div> <div class="charContainer-class"><%=user['characters'][i].class%></div>
          </div>
          <div class="charContainer-graph">
            <svg viewBox="0 0 36 36" class="graphCircle">
              <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
              <path class="circle" stroke-dasharray="<%=user['characters'][i].level/60*100%>, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
              <text x="18" y="20.35" class="graphCircle-text charContainer-level"><%=user['characters'][i].level%></text>
            </svg>
          </div>
        </div>
      <%}%>
      <% if (user['characters'].length < 4 ) {%>
        <div>
          <button id="btnImportCharacters" type="submit" name="get" value="characters" class="action-button formController">Import from Battle.net</button>
        </div>
      <%}%>
      </div>
      <div id="wishlistContainer" class="formContainer rolloutContainer">
        <form name="frmDeleteItem" method="post">
          <% for (var slot in user['wishlist']) {%>
          <div class="itemSlotContainer">
            <div class="itemSlotContainer-headline"><%=slot%></div>
            <% for (var item in user['wishlist'][slot]) {%>
            <a href="https://classic.wowhead.com/item=<%=user['wishlist'][slot][item].item%>/" target="_blank"><div class="itemContainer clr-<%=user['wishlist'][slot][item].quality%>"><strong><%=user['wishlist'][slot][item].name%></strong></div></a><button type="submit" name="wlDelete" value="<%=user['wishlist'][slot][item].id%>" class="itemContainer-button iconButton icon-delete"></button>
            <%}%>
          </div>
          <%}%>
        </form>
        <div>
          <button id="btnAddItem" type="submit" name="add" value="item" class="action-button formController">Add</button>
        </div>
      </div>
      <%}%>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script>var whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false};</script>
    <script src="/js/wowhead.js"></script>
    <script src="/js/profile.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
