<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti-main.css" />
    <link rel="stylesheet" href="/css/boti-icons.css" />
    <% if (conf.theme === 'ghostly') {%>
      <link rel="stylesheet" href="/css/boti-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%>
      <link rel="stylesheet" href="/css/boti-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%>
      <link rel="stylesheet" href="/css/boti-theme-toxic.css" />
    <%}%>
    <% if (conf.device === 'phone') {%>
      <link rel="stylesheet" href="/css/boti-mobile.css" />
    <%} else if (conf.device === 'desktop') {%>
      <link rel="stylesheet" href="/css/boti-desktop.css" />
    <%}%>
    <link rel="stylesheet" href="/css/boti-classes.css" />
    <link rel="stylesheet" href="/css/boti-extras.css" />
    <nav class="pos-absolute">
      <menu class="menu-themed">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button is-inline"><div class="menu-button-icon icon-logo"></div></div></a>
        <div class="show-mobile col-50 is-inline selected-page"><%=conf.page%></div>
        <div class="menu-button is-inline show-mobile"><div class="menu-button-icon icon-menu"></div></div>
        <div class="menu-button-row show-desktop">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (i == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button button-selected-themed"><div class="menu-button-text"><%=i%></div></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="container-page align-center is-scrollable">
        <form id="frmUserInformation" name="frmUserActions" method="post" onsubmit="return scarecrow.validate.user.userInfo();">
          <div class="container-big frame-themed background-themed">
            <div class="col-30 is-inline margin-sides-10 align-top">
              <div id="txtUsername" class="align-left underlined"><%=user['details'].name%></div>
              <div class="align-left label">Username</div>
              <% if (user['details'].email !== null && user['details'].email !== '' && user['details'].email !== undefined) {%>
                <div id="txtEmail" class="align-left underlined"><%=user['details'].email%></div>
                <div class="align-left label">E-mail</div>
              <%}%>
            </div>
            <div class="col-30 is-inline margin-sides-10 align-top">
              <div class="align-left underlined"><%=user['details'].rankName%></div>
              <div class="align-left label">Guild rank</div>
              <% if (user['details'].role !== null && user['details'].role !== '' && user['details'].role !== undefined) {%>
                <div class="align-left underlined"><%=user['details'].role%></div>
                <div class="align-left label">Role</div>
              <%}%>
            </div>
            <div class="col-30 is-inline margin-sides-10 align-top">
              <div id="txtTheme" class="align-left underlined"><%=user['details'].theme.charAt(0).toUpperCase()+user['details'].theme.slice(1)%></div>
              <div class="align-left label">Theme</div>
            </div>
            <div>
              <button id="btnShowWindow" type="submit" name="edit" value="userInfo" class="button-icon-medium icon-edit submit-button"></button>
            </div>
          </div>
        </form>
        <% if (user['details'].rank > 1) {%>
          <div class="container-big align-middle frame-themed background-themed">
            <%for (var i in user['characters']) {%>
              <% if (user['characters'][i].main === 1) {%>
                <div class="container-medium align-left frame-groove-themed">
              <%} else {%>
                <div class="container-medium align-left frame-themed">
              <%}%>
                  <form name="frmDeleteCharacters" method="post" onsubmit="return scarecrow.validate.character.edit();">
                    <div class="is-inline align-middle col-10 role<%=user['characters'][i].role%>"></div>
                    <div id="characterName_<%=user['characters'][i].id%>" class="is-inline align-middle col-40 clr<%=user['characters'][i].class%>"><%=user['characters'][i].name%></div>
                    <div class="is-inline align-middle col-40"><%=user['characters'][i].level%> <%=user['characters'][i].class%></div>
                    <div class="is-inline-flex align-middle">
                      <button id="btnShowWindow_<%=user['characters'][i].id%>" type="submit" name="delete" value="character_<%=user['characters'][i].id%>" class="icon-delete button-icon-small submit-button"></button>
                    </div>
                  </form>
                </div>
            <%}%>
            <% if (user['characters'].length < 3) {%>
              <div>
                <form name="frmAddCharacters" method="post" onsubmit="return scarecrow.validate.character.add();">
                  <button id="btnShowWindow" type="submit" name="add" value="character" class="button-icon-medium icon-add submit-button"></button>
                </form>
              </div>
            <%}%>
          </div>
          <div class="container-big align-middle frame-themed background-themed">
            <form id="frmWishList" name="frmWishList" method="post">
              <% for (var slot in user['wishlist']) {%>
                <div class="itemSlotHeadline"><%=slot%></div>
                <% for (var item in user['wishlist'][slot]) {%>
                  <a href="https://classic.wowhead.com/item=<%=user['wishlist'][slot][item].item%>/" target="_blank"><div class="itemBox clr-<%=user['wishlist'][slot][item].quality%>"><strong><%=user['wishlist'][slot][item].name%></strong></div></a><button type="submit" name="wlDelete" value="<%=user['wishlist'][slot][item].id%>" class="itemListButton icon-delete submit-button"></button>
                <%}%>
              <%}%>
            </form>
            <form id="frmAddItem" name="frmAddItem" method="post" onsubmit="return scarecrow.validate.item.add();">
              <button id="btnShowSearchBar" type="submit" name="add" value="item" class="button-icon-medium icon-add submit-button"></button>
            </form>
          </div>
        <%}%>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script>var whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false};</script>
    <script src="/js/wowhead.js"></script>
    <script src="/js/profile.js"></script>
  </foot>
</html>
