<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <nav class="nav-sc">
      <menu class="menu-sc">
        <a href="/"><div class="menu-button"><div class="menu-button-icon icon-home"></div></div></a>
        <% for (var i in scMenu) {
          if (scMenu[i].menu === 1) {
            if (i == activePage) {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text"><%=i%></div></div></a>
          <%} else {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
        <%}}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section id="pageContainer">
      <div id="pageContainerCell" class="container-sc">
        <div id="pageMainComponents">
          <div class="container-frame">
            <div class="container-headline">User</div>
            <div class="container-body">
              <table>
                <tr>
                  <th>Username:</th>
                  <td id="tblUsername"><i><%=user[0].user%></i></td>
                  <th>Email:</th>
                  <td id="tblEmail"><i><%=user[0].email%></i></td>
                </tr>
                <tr>
                  <th>Guild rank:</th>
                  <td><i><%=user[0].rank%></i></td>
                  <th></th>
                  <td></td>
                </tr>
                <tr>
                </tr>
              </table>
            </div>
            <div class="container-foot">
              <div class="buttonRow">
                <input id="btnUpdateInfo" type="button" class="button input-button" value="Update info" />
              </div>
            </div>
          </div>
          <div class="container-frame">
            <div class="container-headline">Characters</div>
            <div class="container-body">
              <table>
                <tr class="tr-table">
                  <th>Nickname</th>
                  <th>Class</th>
                  <th>Role</th>
                  <th></th>
                </tr>
                <% for (var i=0; i<characters.length; i++) {%>
                  <tr id="character_<%=characters[i].id%>" class="clr<%=characters[i].class%>">
                    <td class="charName"><%=characters[i].name%></td>
                    <td class="charClass"><%=characters[i].class%></td>
                    <td class="charRole role<%=characters[i].role%>"></td>
                    <td><div id="btnDeleteCharacter_<%=characters[i].id%>" class="button button-icon-delete"></div></td>
                  </tr>
                <%}%>
              </table>
            </div>
            <div class="container-foot">
              <div class="buttonRow">
                <input id="btnAddCharacter" type="button" class="button input-button" value="Add character" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
  </foot>
</html>
