<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <nav>
      <menu>
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button"><div class="menu-button-icon icon-home"></div></div></a>
        <% for (var i in scMenu) {
          if (scMenu[i].menu === 1) {
            if (i == activePage) {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text"><%=i%></div></div></a>
          <%} else {%>
            <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
        <%}}}%>
      </menu>
    </nav>
  </head>
  <body>
    <section id="pageContainer">
      <div class="container-sc">
        <div class="container-frame pageMainComponent">
          <form name="frmUserDetails" method="post">
            <div class="container-headline">General information</div>
            <div class="container-body">
              <div class="table-container-tiny-outer">
                <div class="table-container-tiny-inner">
                  <table>
                    <tr class="tr-col-4">
                      <th>Username:</th>
                      <td><input id="txtUsername" type="text" name="user" class="input-text" value="<%=user[0].user%>" /></td>
                      <th></th>
                      <td></td>
                    </tr>
                    <tr class="tr-col-4">
                      <th>Rank:</th>
                      <td><select name="rank" class="input-text">
                        <% for (var i in ranks) {
                          if (ranks[i].name === user[0].rankName) {%>
                          <option value="<%=ranks[i].id%>" class="select-options2" selected><%=ranks[i].name%></option>
                        <%} else {%>
                          <option value="<%=ranks[i].id%>" class="select-options2"><%=ranks[i].name%></option>
                        <%}}%>
                      </select></td>
                      <th>Role:</th>
                      <td><input type="text" name="role" class="input-text" value="<%=user[0].role%>" /></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="container-foot">
              <div class="buttonRow">
                <button type="submit" name="accept" value="userInfo" class="response-button icon-accept"></button>
              </div>
            </div>
          </form>
        </div>
        <div class="container-frame pageMainComponent">
          <form name="frmUserCharacters" method="post" onsubmit="return scarecrow.validate.user.character();">
            <div class="container-headline">Characters</div>
            <div class="container-body">
              <div class="table-container-tiny-outer">
                <div class="table-container-tiny-inner">
                  <table>
                    <%for (var i in characters) {%>
                      <tr id="character_<%=characters[i].id%>" class="tr-col-3 tr-highlight">
                        <td><div id="characterName_<%=characters[i].id%>" class="charName clr<%=characters[i].class%>"><%=characters[i].name%></div><div><div class="charRole role<%=characters[i].role%>"></div><span class="charLevel">60</span> <span class="charClass"><%=characters[i].class%></span></div></td>
                        <% if (characters[i].main === 'main') {%>
                        <td>Main</td>
                        <td><button id="btnDeleteCharacter_<%=characters[i].id%>" type="submit" name="delete" value="character_<%=characters[i].id%>" class="icon-delete list-button"></button></td>
                        <%} else if (characters[i].main === 'alt') {%>
                        <td></td>
                        <td>
                          <button id="btnDeleteCharacter_<%=characters[i].id%>" type="submit" name="delete" value="character_<%=characters[i].id%>" class="icon-delete list-button"></button>
                          <button id="btnChangeMainCharacter_<%=characters[i].id%>" type="submit" name="edit" value="mainCharacter_<%=characters[i].id%>" class="icon-m list-button"></button>
                        </td>
                        <%}%>
                      </tr>
                    <%}%>
                  </table>
                </div>
              </div>
            </div>
            <div class="container-foot">
              <div class="buttonRow">
                <button id="btnAddCharacter" type="submit" name="add" value="character" class="response-button icon-add"></button>
              </div>
            </div>
          </form>
        </div>
        <div class="container-frame pageMainComponent">
          <form id="frmUserActions" name="frmUserActions" method="post" onsubmit="return scarecrow.validate.user.delete();">
            <div class="container-foot">
              <div class="buttonRow">
                <button id="btnBack" type="submit" name="back" value="back" class="response-button icon-back"></button>
                <button id="btnDelete" type="submit" name="delete" value="user" class="response-button icon-delete"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/sc-main.js"></script>
  </foot>
</html>
