<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'scarecrow') {%> <link rel="stylesheet" href="/css/sc-theme-scarecrow.css" />
    <%} else if (conf.theme === 'duel') {%> <link rel="stylesheet" href="/css/sc-theme-duel.css" />
    <%} else if (conf.theme === 'infernal') {%> <link rel="stylesheet" href="/css/sc-theme-infernal.css" />
    <%} else if (conf.theme === 'warzone') {%> <link rel="stylesheet" href="/css/sc-theme-warzone.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton selected"><%=scMenu[i].text%></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section class="pageContainer">
      <div class="loginContainer">
        <form name="frmSignIn" action="<%=scMenu['signin'].path%>" method="post" onsubmit="return formValidation();" autocomplete="off">
          <img class="loginContainer-image" src="/img/crow.png"></img>
          <div>
            <input id="username" type="text" name="username" class="loginContainer-input" placeholder="Username" autocomplete="off" tabindex="1"/>
            <div id="usernameError" class="errorText"></div>
          </div>
          <div>
            <input id="password" type="password" name="password" class="loginContainer-input" placeholder="Password" autocomplete="off" tabindex="2"/>
            <div id="passwordError" class="errorText"></div>
          </div>
          <% if (error) {%><span class="errorText">Wrong username and/or password!</span><%}%>
          <div>
            <button id="btnLogin" type="submit" name="login" value="user" class="action-button" tabindex="3">Sign in</button>
          </div>
          <div>Don't have an account? <a href="<%=scMenu['signup'].path%>"><u>Sign up here!</u></a></div>
        </form>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/signin.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
