<!DOCTYPE html>
<html class="is-hidden">
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <link rel="stylesheet" href="/css/classes.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link rel="stylesheet" href="/css/scarecrow.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/themes.css" />
    <nav>
      <menu class="background-black">
        <a href="<%=scMenu['Home'].path%>"><div class="menu-button is-inline"><div class="menu-button-icon icon-logo"></div></div></a>
        <div class="show-mobile col-70 is-inline selected-page"><%=activePage%></div>
        <div class="menu-button is-inline show-mobile"><div class="menu-button-icon icon-menu"></div></div>
        <div class="menu-button-row show-desktop">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (i == activePage) {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button menu-button-selected"><div class="menu-button-text text-selected"><%=i%></div></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menu-button"><div class="menu-button-text"><%=i%></div></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section>
      <div class="container-page align-center is-scrollable">
        <div class="container-small align-center background-black border-rounded is-framed">
          <form name="frmSignIn" action="<%=scMenu['signUp'].path%>" method="post" onsubmit="return scarecrow.validate.access.signUp();">
            <img class="round background-white faded margin-big" src="/img/crow.png"></img>
            <div class="is-inline col-90">
              <input id="username" type="text" name="username" class="input-ghostly col-90" placeholder="Username" />
              <div id="usernameError" class="text-error col-90 align-left"></div>
            </div>
            <div class="is-inline col-90">
              <input id="password" type="password" name="password" class="input-ghostly col-90" placeholder="Password" />
              <div id="passwordError" class="text-error col-90 align-left"></div>
            </div>
            <div class="is-inline col-90">
              <input id="password_confirm" type="password" name="password_confirm" class="input-ghostly col-90" placeholder="Confirm password" />
              <div id="passwordConfirmError" class="text-error col-90 align-left"></div>
            </div>
            <div class="full-row">
              <input id="btnLogin" type="submit" class="input-ghostly col-40" value="Sign up!" />
            </div>
            <div>...or <a href="<%=scMenu['Sign in'].path%>"><u>sign in</u></a> here!</div>
          </form>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
