<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google" content="notranslate">
    <title><%=conf.title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <% if (conf.theme === 'ghostly') {%> <link rel="stylesheet" href="/css/sc-theme-ghostly.css" />
    <%} else if (conf.theme === 'crimson') {%> <link rel="stylesheet" href="/css/sc-theme-crimson.css" />
    <%} else if (conf.theme === 'toxic') {%> <link rel="stylesheet" href="/css/sc-theme-toxic.css" />
    <%} else if (conf.theme === 'angelic') {%> <link rel="stylesheet" href="/css/sc-theme-angelic.css" />
    <%} else if (conf.theme === 'obsidian') {%> <link rel="stylesheet" href="/css/sc-theme-obsidian.css" />
    <%}%>
    <% if (conf.device === 'phone') {%> <link rel="stylesheet" href="/css/sc-mobile.css" />
    <%} else if (conf.device === 'desktop') {%> <link rel="stylesheet" href="/css/sc-desktop.css" />
    <%}%>
    <nav>
      <menu>
        <a href="<%=scMenu['home'].path%>"><div class="menuButtonRow-icon icon-logo"></div></a>
        <% if (conf.device === 'phone') {%>
        <div class="menuButtonRow-currentPage"><%=conf.page%></div>
        <div class="menuButtonRow-icon icon-menu"></div>
        <%}%>
        <div class="menuButtonRow">
          <% for (var i in scMenu) {
            if (scMenu[i].menu === 1) {
              if (scMenu[i].text == conf.page) {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton selected"><%=scMenu[i].text%></div></a>
            <%} else {%>
              <a href="<%=scMenu[i].path%>"><div class="menuButton"><%=scMenu[i].text%></div></a>
          <%}}}%>
        </div>
      </menu>
    </nav>
  </head>
  <body>
    <section class="pageContainer">
      <div class="formContainer">
        <div class="formContainer-halfColumn"><div class="formContainer-header">User:</div><div id="txtUsername" class="formContainer-value"><%=user['details'].name%></div></div>
        <% if (user['details'].email !== null && user['details'].email !== '' && user['details'].email !== undefined) {%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">E-mail:</div><div id="txtEmail" class="formContainer-value"><%=user['details'].email%></div></div>
        <%}%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">Rank:</div><div id="txtRank" class="formContainer-value"><%=user['details'].rankName%></div></div>
        <% if (user['details'].role !== null && user['details'].role !== '' && user['details'].role !== undefined) {%>
        <div class="formContainer-halfColumn"><div class="formContainer-header">Role:</div><div id="txtRole" class="formContainer-value"><%=user['details'].role%></div></div>
        <%}%>
      </div>
      <div class="formButtonRow">
        <form id="frmUserActions" name="frmUserActions" method="post" onsubmit="return validateQuickmenu();">
          <button id="btnBack" type="submit" name="back" value="back" class="action-button">< Back</button>
          <button id="btnEditUser" type="submit" name="edit" value="userInfo" class="action-button formController">Edit</button>
          <button id="btnShowCharacter" type="button" name="expand" value="characters" class="action-button rolloutController">Characters</button>
          <button id="btnDelUser" type="submit" name="delete" value="user" class="action-button formController"><font color="red">Delete user</font></button>
        </form>
      </div>
      <div id="characterContainer" class="formContainer rolloutContainer">
        <%for (var i in user['characters']) {%>
        <div class="charContainer">
          <div class="charContainer-role role<%=user['characters'][i].role%>"></div>
          <div class="charContainer-details">
            <span id="txtCName_<%=user['characters'][i].id%>" class="clr<%=user['characters'][i].class%>"><%=user['characters'][i].name%></span>
            <span>(<span id="txtCLevel_<%=user['characters'][i].id%>"><%=user['characters'][i].level%></span> <span><%=user['characters'][i].class%></span>)</span>
          </div>
        </div>
        <button id="edit_<%=user['characters'][i].id%>" main="<%=user['characters'][i].main%>" type="submit" value="<%=user['characters'][i].id%>" class="charContainer-button iconButton icon-edit"></button>
        <button id="delete_<%=user['characters'][i].id%>" type="submit" value="<%=user['characters'][i].id%>" class="charContainer-button iconButton icon-delete"></button>
        <%}%>
        <% if (user['characters'].length < 3 ) {%>
          <div>
            <button id="btnAddChar" type="submit" name="add" value="character" class="action-button formController">Add</button>
          </div>
        <%}%>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scarecrow.js"></script>
    <script src="/js/user.js"></script>
    <% if (conf.device === 'phone') {%> <script>$('.menuButtonRow').hide()</script> <%}%>
  </foot>
</html>
